<div class="main">

<div class="text">IPD Census Data</div>
<div class=ipdcensuscontainer>
    <app-ipdcensus></app-ipdcensus>
</div>

<div class="text">Pharmacy Data Analysis</div>
<div class=pharmaData>
   <app-pharmacy-data></app-pharmacy-data>
</div>

<div class="text">Radiology Pathology Data Analysis</div>
<div class=radiodata>
  <app-radiopathsummar></app-radiopathsummar>
</div>

<div class="text">IMS Data Analysis</div>
<div class=capexopex>
  <app-imscapex></app-imscapex>
</div>
</div>
