<div class="main-container">

  <div class="main-container-dropdown">
    <label class="label-name" for="department">Select Department:</label>
    <select id="department" [(ngModel)]="selectedDept" class="dropdown" (change)="onDepartmentChange()">
      <option id="option-id" *ngFor="let dept of DepartmentData" [value]="dept.dept_id">
        {{ dept.dept_name }}
      </option>
    </select>
  </div>

  <div class="main-container-dropdown">
    <label class="label-name" for="specialization">Select Specialization</label>
    <select name="specialization" id="specialization" [(ngModel)]="selectedSpec" class="dropdown"
      (change)="OnSpecializationChange()">
      <option *ngFor="let speci of SpecializationData" [value]="speci.specialization_id">
        {{speci.specialization}}
      </option>
    </select>
  </div>

  <div class="main-container-dropdown">
    <label class="label-name" for="unit">Select Unit</label>
    <select name="unit" id="unit" [(ngModel)]="selectedUnit" class="dropdown">
      <option *ngFor="let unit of UnitData" [value]="unit.unit_id">{{unit.unit_name}}</option>
    </select>
  </div>
</div>

<div class="cat-container">
  <div class="main-container-dropdown">
    <label class="label-name" for="category">Select Patient Category</label>
    <div class="dropdown-container">
      <select name="category" id="category" class="dropdown" [(ngModel)]="selectedCategory"
        (change)="OnPatientCategoryChange()">
        <option *ngFor="let cat of PatientCategoryData" [value]="cat.category_short_Code">{{cat.patient_category}}
        </option>
      </select>
    </div>
  </div>

  <div class="main-container-dropdown">
    <label class="label-name" for="partner">Select Partner</label>
    <div class="dropdown-container">
      <select name="partner" id="partner" class="dropdown">
        <option *ngFor="let partner of PartnerData" [value]="partner.partner_id">{{partner.partner_name}}</option>
      </select>
    </div>
  </div>
</div>

<button class="btn" (click)="getDoctors()">Get Doctors</button>

<div *ngIf="DoctorsData.length>0">
  <h3>Available Doctors</h3>
  <table>
    <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Consultation Fees</th>
        <th>Today OPD Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of DoctorsData">
        <td>{{data.doctor_name}}</td>
        <td>{{data.consultation_fee}}</td>
        <td>{{data.todayOpd}}</td>
      </tr>
    </tbody>
  </table>
</div>