<div>
  <label for="department">Select Department:</label>
  <select id="department" [(ngModel)]="selectedDept" (change)="onDepartmentChange()">
    <option *ngFor="let dept of DepartmentData" [value]="dept.dept_id">
      {{ dept.dept_name }}
    </option>
  </select>
</div>

<div *ngIf="SpecializationData.length > 0">
  <label for="specialization">Select Specialization:</label>
  <select id="specialization" [(ngModel)]="selectedSpec" (change)="OnSpecializationChange()">
    <option *ngFor="let spec of SpecializationData" [value]="spec.specialization_id">
      {{ spec.specialization }}
    </option>
  </select>
</div>

<div *ngIf="UnitData.length > 0">
  <label for="unit">Select Unit:</label>
  <select id="unit" [(ngModel)]="selectedUnit">
    <option *ngFor="let unit of UnitData" [value]="unit.unit_id">
      {{ unit.unit_name }}
    </option>
  </select>
</div>

<button (click)="getDoctors()">Get Doctors</button>

<div *ngIf="DoctorsData.length>0">
  <h3>Available Doctors</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Doctor Name</th>
        <th>Consultation Fees</th>
        <th>Today OPD Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of DoctorsData">
        <td>{{data.doctor_name}}</td>
        <td>{{data.consultation_fee}}</td>
        <td>{{data.todayOpd}}</td>
      </tr>
    </tbody>
  </table>
</div>